

<style type="text/css">
    .error{
        color: red;
    }
</style>


<script type="text/javascript" src="__PUBLIC__/Js/jquery-1.9.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Plugin/layer/layer1.9/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.form.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.validate.min.js"></script>



<div>
    <div >
        <div >

            <div>

               <h4 style="text-align: center">{$gather['title']}</h4>

                <!--发布时间：{$gather.time|date="Y-m-d H:I:s",###} 浏览量：{$gather.view}-->
                <!--<h4>摘要： {$gather['description']}</h4>-->
                    <h6>
                        <form action="{:U('gather')}" method="POST" id="form1" >

                    <input type="hidden" name="profiles"value="{$gather['profiles']}"/>
                    <if condition="$gather['options'] eq 1">
                        <volist name="doc_list" id="vo" key="k">
                            <input type="radio" name="node_id" value="{$vo['id']}"/>{$vo['content']}<br/>
                            <!--<?php-->
                            <!--$num = ($vo['count']/$count)*100;-->
                            <!--?>-->

                            <!--<span class="bar">-->
                                <!--<em class="sgn_{$k} sgnTie" style="width: {$num}%; display: inline-block;"></em>-->
                                  <!--{$vo['count']}票-->
                            <!--</span>-->
                        </volist>

                        <else/>
                        <volist name="doc_list" id="vo">
                            <input type="checkbox" name="node_id[]" value="{$vo['id']}"/>{$vo['content']}<br/>
                        </volist>
                    </if>


                    <input type="submit" value="提交">
                        </form>
                            <a class="error" href="{:U('Gather/info',array('id'=>$gather['id']))}">点击查看</a>
                    </h6>

            </div>
        </div>


    </div>
</div>

<script type="text/javascript">

    $("#form1").validate({
        rules: {
          "node_id": {
                required: true
            },
            "node_id[]": {
                required: true
            }
        },
        messages: {
            "node_id": {
                required: "请选择投票内容"
            },
            "node_id[]": {
                required: "请选择投票内容"
            }
        },
        submitHandler: function(form) {

            $(form).ajaxSubmit({
                success: function(data) {
                    if (!data.status) {
                        layer.msg(data.info);
                        return false;
                    }
                    layer.msg(data.info,function(){
                        location="{:U('Gather/info',array('id'=>$gather['id']))}";
                    });
                }
            });
            return false;
        }
    })


</script>