.ld_pl {
    margin: 0 auto;
    width: 510px;

}
.ld_txt {
    text-align: center;
    width: 90%;
}
.ld_txt textarea {
    color: #333;
    font-size: 12px;
    height: 45px;
    line-height: 21px;
    overflow-y: auto;
    padding: 10px;
    width: 700px;
}
.ld_btn {
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    position: relative;
    text-align: left;
    width: 100%;
}
.pl_list {
    margin-top: 30px;
    overflow: hidden;
    padding-bottom: 20px;
    width: 90%;
}
.pl_list dt {
    background: #ebf1f8 none repeat scroll 0 0;
    border-radius: 3px;
    color: #888;
    padding: 3px 0 3px 10px;
    position: relative;
    text-align: left;
}
.pl_list dt a {
    color: #014ccc;
    line-height: 30px;
    margin-right: 10px;
}
.pl_list dd {
    color: #333;
    line-height: 25px;
    padding: 5px 15px 15px;
    text-align: right;
    word-wrap: break-word;
}
.louchen {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    display: inline-block;
    height: 17px;
    line-height: 17px;
    margin-right: 14px;
    text-align: center;
    vertical-align: top;
    width: 40px;
}
.pl_list dl {
    clear: both;
    margin-bottom: 15px;
}
.pl_list dd p {
    font-size: 12px;
    line-height: 22px;
    margin-left: 60px;
}
.plbg2 {
    background: #f7f7f7 none repeat scroll 0 0;
}
.pages {
    clear: both;
    padding: 6px 0 4px;
    text-align: right;
    width: 100%;
}
.pages a, .pages span {
    border: 1px solid #87a1b9;
    margin-left: 5px;
    padding: 2px 6px;
}
.pages a:hover {
    background: #ebebeb none repeat scroll 0 0;
    color: #6f90b8;
}
.pages span {
    border: medium none;
    color: #333;
    display: inline-block;
}
.pages .current {
    background: #87a1b9 none repeat scroll 0 0;
    border: 1px solid #87a1b9;
    color: #eee;
    font-weight: bold;
    padding: 4px 6px 5px;
}
.pages span.prev, .pages span.next {
    display: none;
    font-weight: normal;
}
.webscan_comemnt {
    position: relative;
    width: 90%;
    float:right;
}
.webscan_comemnt dt {
    float: left;
    font-size: 14px;
    line-height: 25px;
    padding-left: 12px;
    padding-top: 10px;
    text-align: left;
    width: 480px;
}
.webscan_comemnt dd {
    color: #999;
    float: right;
    line-height: 20px;
    padding-right: 10px;
    text-align: right;
    width: 300px;
}
.comment_link {
    line-height: 40px;
    position: absolute;
    right: 14px;
    text-align: center;
    top: 38px;
    width: 120px;
}
.comment_btn {
    background: #3fa156 none repeat scroll 0 0;
    border: 1px solid #1d7431;
    border-radius: 2px;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    height: 28px;
    margin-right: 13px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 70px;
}
.comment_btn:hover {
    background: #3c9551 none repeat scroll 0 0;
    border: 1px solid #1d7431;
}
.captcha_span {
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.captcha_span input, .captcha_span img {
    font-size: 12px;
    font-weight: normal;
    margin-left: 5px;
    vertical-align: middle;
}
.captcha_span .verificationcode_comment {
    border: 1px solid #ccc;
    height: auto;
    padding: 2px 5px;
    width: 50px;
}
.commemt_infor {
    padding-right: 5px;
    text-align: right;
    margin-top:90px; 
}
.pl_header {
    margin: 30px auto 0;
    text-align: left;
}
.pl_header span {
    color: #333;
    display: inline-block;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 80px;
}
.pl_list dd {
    padding-bottom: 30px;
    padding-left: 0;
    position: relative;
}
.pinwheel_wrap {
    position: absolute;
    z-index: 20001;
}
.pinwheel_wrap .pinwheel_layer {
    box-shadow: 0 0 10px #cccccc;
    position: static;
}
.pinwheel_wrap .pinwheel_layer .bg {
    background-color: #cfcfcf;
    padding: 2px;
}
.pinwheel_wrap .pinwheel_content {
    background-color: #ffffff;
}
.pinwheel_wrap .pinwheel_default_html {
    background-color: #ffffff;
    height: 100px;
    width: 150px;
}
.pinwheel_wrap .arrow {
    background: rgba(0, 0, 0, 0) url("/img/group/layer_arrow.png") no-repeat scroll 0 0;
    display: block;
    overflow: hidden;
    position: absolute;
}
.pinwheel_wrap .arrow_t, .pinwheel_wrap .arrow_b {
    background-position: 0 0;
    height: 9px;
    left: 20px;
    top: -5px;
    width: 14px;
}
.pinwheel_wrap .arrow_r, .pinwheel_wrap .arrow_l {
    background-position: -8px -24px;
    height: 14px;
    right: -5px;
    top: 20px;
    width: 9px;
}
.pinwheel_wrap .arrow_b {
    background-position: 0 -8px;
    bottom: -5px;
    top: auto;
}
.pinwheel_wrap .arrow_l {
    background-position: 0 -24px;
    left: -5px;
    right: auto;
}
.pinwheel_wrap .pinwheel_loading {
    color: #666666;
    font-size: 12px;
    padding: 10px 20px;
}
.pinwheel_wrap .pinwheel_loading div {
    background: rgba(0, 0, 0, 0) url("/img/group/loading.gif") no-repeat scroll 0 0;
    height: 20px;
    line-height: 20px;
    text-align: center;
    text-indent: 20px;
    width: 120px;
}
.v9-article-slideshow {
    height: 215px;
    margin-bottom: 25px;
}
.v9-user-page-pinwheel {
    padding: 10px 0;
    width: 300px;
}
#v9-user-page-pinwheel {
    font-size: 12px;
    position: relative;
}
#v9-user-page-pinwheel .v9-up-head {
    float: left;
    padding: 5px;
    text-align: center;
    width: 80px;
}
#v9-user-page-pinwheel .v9-up-head-right {
    float: left;
    line-height: 20px;
    overflow: hidden;
    padding: 2px 0;
    width: 200px;
}
#v9-user-page-pinwheel strong {
    font-size: 13px;
}
#v9-user-page-pinwheel em {
    color: #333333;
    font-style: normal;
}
#v9-user-page-pinwheel .v9-profile-male {
    background: rgba(0, 0, 0, 0) url("http://p0.qhimg.com/t01b985e4971622045c.png") no-repeat scroll 0 0;
    margin-left: 4px;
    padding-right: 4px;
    width: 24px;
}
#v9-user-page-pinwheel .v9-profile-female {
    background: rgba(0, 0, 0, 0) url("http://p0.qhimg.com/t01b985e4971622045c.png") no-repeat scroll -25px 0;
    width: 24px;
}
#v9-user-page-pinwheel .v9-profile-site {
    background: rgba(0, 0, 0, 0) url("http://p0.qhimg.com/t01a6afdd764fc20102.png") no-repeat scroll 0 3px;
    margin-left: 3px;
    padding-left: 15px;
    padding-right: 6px;
    width: 24px;
}
#v9-user-page-pinwheel .v9-profile-city {
    background: rgba(0, 0, 0, 0) url("http://p4.qhimg.com/t01f9e3023ee71de6ec.png") no-repeat scroll 0 2px;
    padding-left: 3px;
    width: 100px;
}
#v9-user-page-pinwheel .v9-up-userlo {
    margin: 0 8px;
    overflow: hidden;
}
#v9-user-page-pinwheel .v9-up-group-post {
    border-top: 1px solid #cccccc;
    font-size: 13px;
    margin: 9px 8px 0;
    padding: 7px 6px;
}
#v9-user-page-pinwheel .v9-up-manage-group {
    border-top: 1px solid #cccccc;
    font-size: 12px;
    margin: 0 8px;
    padding: 7px 6px;
}
#v9-user-page-pinwheel .v9-up-manage-group em {
    height: 20px;
    line-height: 20px;
}
#gosend_message {
    position: absolute;
    right: 16px;
    top: 5px;
}
#gosend_message a {
    background: #5db945 url("http://p9.qhimg.com/t01a3a394a326d22aa5.png") no-repeat scroll 6px 6px;
    color: #ffffff;
    padding: 2px 7px 2px 25px;
}
#gosend_message a:hover {
    background: #79c964 url("http://p9.qhimg.com/t01a3a394a326d22aa5.png") no-repeat scroll 6px 6px;
    text-decoration: none;