<include file="Public:header"/>

<include file="Public:header_show"/>

<div class="tab">
	
        <ul>
       <if condition="$list neq null">
            <volist name="list" id="lis">

                <li><a href="{:U('news/show',array('id'=>$lis['id']))}" style="text-decoration: none;">
                    <em class="icon_stop"></em>
                        {$lis['title']}<span style="float:right;margin-right:10px;"><?php echo date('y-m-d',$lis['time'])?></span>
                    </a>
                </li>

            </volist>
           <else/>
           <?php
            header('content-type:text/html;charset=utf-8');
           ?>
            <p align="center" style="color:#B31F2B;margin-top:80px;">暂无数据</p>
           </if>
        </ul>   

            {$page}
     
</div>



<include file="Public:footer"/>
